@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --color-layout-bg: #EBF4FA;
  --color-bg-secondary: #ffff;
  --color-bg-gradient: linear-gradient(90deg, #8B0000 0%, #2A0B0A 145.34%);

  --color-secondary: #BF5700;

  --color-text-primary: #394D59;
  --color-text-secondary: #717171;
  --color-primary: #277869;
  --color-red: #ea5455;
  --color-warning: #ff8228;
  --color-teal: #20c997;
  --color-cyan: #00cfe8;
  --color-gray-500: #a7a7a6;
  --color-btn-gr: linear-gradient(90deg, #8B0000 0%, #2A0B0A 145.34%);
}

@theme {
  --font-mulish: "Poppins", sans-serif;
  --color-text-primary: var(--color-text-primary);
  --color-primary: var(--color-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-layout-bg: var(--color-layout-bg);
  --color-secondary: var(--color-gray-400);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-teal: var(--color-teal);
  --color-red: var(--color-red);
  --color-warning: var(--color-warning);
  --color-btn-gr: var(--color-btn-gr);
  --color-bg-gradient: var(--color-bg-gradient);
}

/* Add dark mode variables */
body {
  font-family: var(--font-mulish);
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.sidebar-active {
  background: var(--color-btn-gr) !important;
  color: var(--color-white) !important;
}

.sidebar-item:hover {
  background-color: var(--color-btn-gr) !important;
  transition: background-color 0.3s ease-in-out;
}

/* Hide scrollbar across all major browsers */
.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.sidebar-scroll {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}